{% if perms.bots.view_partner %}{% load i18n %}
{% if idpartner in partners or idpartner in inactive_partners %}
<li><a class="ico-{{ field.name }} after" onclick="return view_partner(this)" after="{% trans 'View Partner' %}"></a></li>
{% elif perms.bots.add_partner %}
<li><a class="ico-add-partner after" onclick="return add_partner(this)" after="{% trans 'Add Partner' %}"></a></li>{% endif %}{% endif %}
