{% extends "admin/base.html" %}
{% load i18n static %}

{% block title %}Bots {{ title|default:bots_http_path }} {{ bots_environment_text }}{% endblock %}


{% block extrastyle %}{{ block.super }}
{% block favicon %}
<link rel="icon" type="image/png" href="{% static "images/bots.ico" %}">
{% endblock favicon %}
{% endblock %}

{% block extrahead %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "css/bots.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/bots-icons.css" %}">
{% if user.is_authenticated %}<script src="{% static "js/bots.js" %}"></script>{% endif %}
{% endblock %}

{% block branding %}
{% include botslogo %}
{% include botsmenu %}
{% if bots_environment_text %}<div id="environment">
  <div style="{{ bots_environment_text_style }}">{{ bots_environment_text }}</div>
</div>{% endif %}
{% endblock %}

{% block content %}
{{ content }}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs"></div>
{% endblock %}

{% block usertools %}
{% if not user.is_authenticated %}
    <a href="{% url 'login' %}"><strong>{% trans 'Log in' %}</strong></a>
{% else %}
<div id="user-tools">
{% block welcome-msg %}
    {% trans 'Welcome,' %}
    <strong>{% firstof user.get_short_name user.get_username %}</strong>.
{% endblock %}
{% block userlinks %}
{% if user.has_usable_password %}
<a href="{% url 'password_change' %}">{% translate 'Change password' %}</a> /
{% endif %}
<a href="{% url 'logout' %}">{% translate 'Log out' %}</a>
{% endblock %}
</div>
{% endif %}
{% endblock %}
