{% extends "registration/password_change_form.html" %}
{% load i18n %}

{% block userlinks %}
{% translate 'Change password' %} /
<a href="{% url 'logout' %}">{% translate 'Log out' %}</a>
{% endblock %}

{% block breadcrumbs %}{% if user.is_staff %}{{ block.super }}{% else %}
<div class="breadcrumbs">
<a href="/">{% translate 'Home' %}</a>
&rsaquo; {% translate 'Password change' %}
</div>
{% endif %}
{% endblock %}
