{# 2019.05.03 LWA - https://github.com/xdan/datetimepicker #}
{% load i18n static %}{% get_current_language as LANGUAGE_CODE %}
<link rel="stylesheet" type="text/css" href="{% static "css/jquery.datetimepicker.min.css" %}">
<script src="{% static "admin/js/vendor/jquery/jquery.min.js" %}"></script>
<script src="{% static "js/jquery.datetimepicker.full.min.js" %}"></script>
<script>jQuery.datetimepicker.setLocale('{{ LANGUAGE_CODE }}');</script>
<script>{# datetimepicker vars #}
var mindate = '{{ bots_mindate|date:"Y-m-d" }}';
var maxdate = '{{ bots_maxdate|date:"Y-m-d" }}';
var year_start = '{{ bots_mindate|date:"Y" }}';
var year_end = '{{ bots_maxdate|date:"Y" }}';
</script>
<script src="{% static "js/bots.datetimepicker.js" %}"></script>
