{% if perms.bots.view_channel %}{% load i18n %}
<a title="Bots {% trans 'channel'|capfirst %}: {{ idchannel }}" onclick="return view_channel(this, 820)" class="{% if as_link %}botslink{% else %}button ico-{{ fromto }}channel {{ cssclass }}{% endif %} after" after=" ({{ channel_type }})">{{ idchannel }}</a>{% else %}<span class="ico-{{ fromto }}channel after" after=" ({{ channel_type }})">{{ idchannel }}</span>{% endif %}
