{% if not field.is_hidden %}{{ field.as_hidden }}{% endif %}
{% if field.value %}<div class="filteredfield">{% include 'bots/botstable/clear_field.html' %}<b>{{ field.label }}:</b> {{ field.value }}{{ field.errors }}</div>{% endif %}
