<td>
<div class="dropdown">{% include 'bots/link/channel.html' %}
  <ul>
    {% include "bots/botstable/dropdown/filters.html" %}
    {% include "bots/botstable/dropdown/channel.html" %}
  </ul>
</div>
</td>
