{% with field=form.confirmtype %}
<td>{% if row.confirmtype %}
<div class="dropdown">{{ row.confirmtype }}
  <ul>
    {% include "bots/botstable/dropdown/filters.html" %}
  </ul>
</div>{% else %}{{ row.confirmtext }}{% endif %}
</td>{% endwith %}
