{% with field=form.divtext %}
<td name="{{ field.name }}">{% if row.divtext %}
<div class="dropdown">{% if admlink %}{% include 'bots/link/translate.html' with messagetype=row.inmessagetype tscript=row.divtext tscript_link=True %}
  <ul>
    {% include "bots/botstable/dropdown/filters.html" %}
    <li>{% include 'bots/link/translate.html' with messagetype=row.inmessagetype tscript=row.divtext admin_link=True %}</li>
    {% else %}{{ row.divtext }}<ul>{% include "bots/botstable/dropdown/filters.html" %}{% endif %}
    {% include "bots/botstable/dropdown/translate.html" %}
  </ul>
</div>{% endif %}
</td>{% endwith %}
