{% with field=form.editype %}
<td name="{{ field.name }}">{% if row.editype %}
<div class="dropdown">{{ row.editype }}
  <ul>
    {% include "bots/botstable/dropdown/filters.html" %}
  </ul>
</div>{% endif %}
</td>{% endwith %}
