{% with field=form.filename %}
<td name="{{ field.name }}">{% if row.filename %}
<div class="dropdown">{% include 'bots/link/filer.html' with idta=row.idta filename=row.filename %}
  {% if field %}<ul>
    {% include "bots/botstable/dropdown/filters.html" %}
  </ul>{% endif %}
</div>{% endif %}
</td>{% endwith %}
