{% load i18n %}{% with field=form.frompartner idpartner=row.frompartner fromto="from" partners=form.partners inactive_partners=form.inactive_partners %}
<td{% if row.frommail %} title="{% trans 'From' %}: {{ row.frommail }}"{% endif %}>{% if row.frompartner %}
<div class="dropdown">{% include 'bots/link/partner.html' %}
  <ul>
    {% include "bots/botstable/dropdown/filters.html" %}
    {% include "bots/botstable/dropdown/partner.html" %}
  </ul>
</div>{% endif %}
</td>{% endwith %}
