{% with field=form.idroute %}
<td>{% if row.idroute %}
<div class="dropdown">{% include 'bots/link/change_route.html' with idroute=row.idroute %}
  <ul>
    {% include "bots/botstable/dropdown/filters.html" %}
    {% include "bots/botstable/dropdown/route.html" %}
  </ul>
</div>{% endif %}
</td>{% endwith %}
