{% with field=form.ineditype %}
<td name="{{ field.name }}">{% if row.ineditype %}
<div class="dropdown">{{ row.ineditype }}
  <ul>
    {% include "bots/botstable/dropdown/filters.html" %}
    {% include "bots/botstable/dropdown/translate.html" %}
  </ul>
</div>{% endif %}
</td>{% endwith %}
