{% with field=form.infilename %}
<td name="{{ field.name }}">{% if row.infilename %}
<div class="dropdown">{% include 'bots/link/filer.html' with idta=row.idta filename=row.infilename %}
  <ul>
    {% include "bots/botstable/dropdown/filters.html" %}
  </ul>
</div>{% endif %}
</td>{% endwith %}
