{% with field=form.messagetype %}
<td name="{{ field.name }}">{% if row.messagetype %}
<div class="dropdown">{% include 'bots/link/messagetype.html' with editype=row.editype messagetype=row.messagetype as_link=True %}
  <ul>
    {% include "bots/botstable/dropdown/filters.html" %}
    {% include "bots/botstable/dropdown/messagetype.html" %}
  </ul>
</div>{% endif %}
</td>{% endwith %}
