{% with field=form.outeditype %}
<td name="{{ field.name }}">{% if row.outeditype %}
<div class="dropdown">{{ row.outeditype }}
  <ul>
    {% include "bots/botstable/dropdown/filters.html" %}
    {% include "bots/botstable/dropdown/translate.html" %}
  </ul>
</div>{% endif %}
</td>{% endwith %}
