<td>{% if row.outfilename %}{% with field=form.outfilename filename=row.outfilename %}
<div class="dropdown">{% if row.outfilename == '(several values)' %}
  <a href="{% url 'bots:detail' %}/?inidta={{ row.idta }}&popup=1" target="_blank" class="botslink">{{ filename }}</a>
  {% else %}{% include 'bots/link/filer.html' with idta=row.outidta %}{% endif %}
  <ul>
    {% include "bots/botstable/dropdown/filters.html" %}
  </ul>
</div>{% endwith %}{% endif %}
</td>
