{% with field=form.outmessagetype editype=row.outeditype messagetype=row.outmessagetype %}
<td name="{{ field.name }}">{% if row.outmessagetype %}
<div class="dropdown">{% include 'bots/link/messagetype.html' with as_link=True %}
  <ul>
    {% include "bots/botstable/dropdown/filters.html" %}
    {% include "bots/botstable/dropdown/translate.html" %}
    {% include "bots/botstable/dropdown/messagetype.html" %}
  </ul>
</div>{% endif %}
</td>{% endwith %}
