{% with field=form.reference %}
<td>{% if row.reference %}
<div class="dropdown">{% include 'bots/link/reference.html' with ta=row %}
  <ul>
    {% include "bots/botstable/dropdown/filters.html" %}
  </ul>
</div>{% endif %}
</td>{% endwith %}
