{% load i18n %}{% with field=form.topartner idpartner=row.topartner fromto="to" partners=form.partners inactive_partners=form.inactive_partners %}
<td{% if row.tomail %} title="{% trans 'To' %}: {{ row.tomail }}"{% endif %}>{% if row.topartner %}
<div class="dropdown">{% include 'bots/link/partner.html' %}
  <ul>
    {% include "bots/botstable/dropdown/filters.html" %}
    {% include "bots/botstable/dropdown/partner.html" %}
  </ul>
</div>{% endif %}
</td>{% endwith %}
