{% load i18n %}
<td class="td-ts" title="{{ row.ts|date:'D d M Y  H:i:s' }}">
<div class="dropdown">
  {{ row.ts|date:'d.m.Y' }}&nbsp;&nbsp;{% if display_seconds %}{{ row.ts|date:'H:i:s' }}{% else %}{{ row.ts|date:'H:i' }}{% endif %}
  <ul>
    <li><button class="sorted" onclick="document.getElementById('id_datefrom').value='{{ row.ts|date:'Y-m-d  H:i:s' }}';">{% trans 'Date from' %}</button>
    {% if form.datefrom.value %}<ul>{% include 'bots/botstable/dropdown/clear.html' with field=form.datefrom %}</ul>{% endif %}
    </li>
    <li><button class="sortedasc" onclick="document.getElementById('id_dateuntil').value='{{ row.ts|date:'Y-m-d  H:i:s' }}';">{% trans 'Date until' %}</button>
    {% if form.dateuntil.value %}<ul>{% include 'bots/botstable/dropdown/clear.html' with field=form.dateuntil %}</ul>{% endif %}
    </li>
  </ul>
</div>
</td>
