{% load i18n %}
{% if is_popup %}<button type="button" class="button ico-close" onclick="window.close();" title="{% trans 'Close window' %}">{% trans 'Close' %}</button>
{% else %}<button type="button" class="button ico-no" onclick="history.back();" title="{% trans 'Cancel' %}">{% trans 'Cancel' %}</button>{% endif %}
