{% load i18n %}
{% if is_popup %}<button type="button" class="button ico-close {{ cssclass }}" onclick="window.close();" title="{% trans 'Close window' %}">{% trans 'Close' %}</button>
{% else %}<button type="button" class="button ico-back {{ cssclass }}" onclick="history.back();" title="{% trans 'Go Back' %}">{% trans 'Back' %}</button>{% endif %}
