{% extends "admin/base.html" %}
{% load i18n %}

{% block content %}
<br/>
<h1 class="ico-trash"> {% trans 'Bulk delete from configuration, user scripts etc.' %}</h1>
<p>&nbsp;{% trans '!Deletions can NOT be undone!' %}</p>
<br/>
<form action="{{ form.action }}" method="POST" enctype="multipart/form-data">{% csrf_token %}
    <table>
        {{ form }}
    </table>
    <br/>&nbsp;
    <button name="cancel" class="button ico-no">{% trans 'Cancel' %}</button>
    <button name="submit" class="button ico-trash" onclick="return confirm('{% trans 'Bulk delete' %} ?');"> {% trans 'Bulk delete' %}</button>
</form>
{% endblock %}
