{% load i18n static %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>{% with ta=idtas|first %}
<title>Bots File {{ ta.idta }}</title>
<meta charset="{{ ta.charset }}" />
{% endwith %}
<meta Http-Equiv="Pragma" Content="no-cache" />
<link rel="icon" type="image/png" href="{% static "images/bots.ico" %}">
<link rel="stylesheet" type="text/css" href="{% static "admin/css/base.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/bots.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/bots-icons.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/bots-filer.css" %}">
{% include "bots/js/urls.html" %}
<script src="{% static "js/bots.js" %}"></script>
<script src="{% static "js/botstable.js" %}"></script>
{% if user.is_staff and perms.bots %}<script src="{% static "js/bots.staff.js" %}"></script>{% endif %}
</head>
<body>
{% if error_content %}{{ error_content }}
{% else %}<div id="container">{% for ta in idtas %}
<div id="navbar{{ forloop.counter }}" class="navbar">
    <table border="1" cellpadding="3" cellspacing="0" class="nowrap">
    <tr>
    <td class="pad0"><button class="button ico-close pad8" onclick="window.close();" title="{% trans 'Close window' %}">{% trans 'Close' %}</button></td>
    <td  width="30px" align="center">{% if ta.has_previous %}<a class="button pad8 padnav" href="{% url 'bots:filer' %}/?action=previous{% if display %}&amp;display={{ display }}{% endif %}&amp;idta={{ ta.idta }}" title="{% trans 'Previous' %}">&lt;</a>{% endif %}</td>
    <td width="125px" align="center" class="botsstatus{{ ta.statust }} phase">
	{% include 'bots/link/inorout.html' with cssclass=" pad8" %}
        <div class="tainfo" align="center">{% include 'bots/ta_info.html' with admlink=True cssclass="pad1" %}</div>
    </td>
    <td width="30px" align="center">{% if ta.has_next %}<a class="button pad8 padnav" href="{% url 'bots:filer' %}/?action=next{% if display %}&amp;display={{ display }}{% endif %}&amp;idta={{ ta.idta }}" title="{% trans 'Next' %}">&gt;</a>{% endif %}</td>
    <td title="Content-Type: {{ ta.contenttype }}">{% if ta.contenttype == 'text/html' %}
    {% if display != 'raw' %}<a href="{% url 'bots:filer' %}/?action=this&amp;idta={{ ta.idta }}&amp;display=raw" title="{% trans 'Show raw html' %}">{{ ta.contenttype }}</a>
    {% else %}<a href="{% url 'bots:filer' %}/?action=this&amp;idta={{ ta.idta }}" title="{% trans 'Display html' %}">{{ ta.contenttype }}</a>
    {% endif %}
    {% else %}{{ ta.contenttype }}{% endif %}
    </td>
    {% if ta.has_file %}<td align="center"><a class="button ico-save pad8" href="{% url 'bots:filer' %}/?action=downl&amp;idta={{ ta.idta }}">{% trans 'Download' %}</a></td>{% endif %}
    {% if perms.bots.view_ta %}<td>{% include 'bots/link/detail.html' %}</td>{% endif %}
    {% if ta.reference %}<td title="{% trans 'reference' %}: {{ ta.reference }}">{% include 'bots/link/reference.html' %}</td>{% endif %}
    </tr>
    </table>
    </div>
    <div class="content">
    {% if not ta.has_file %}
        <pre>{{ ta.content }}</pre>
    {% elif ta.contenttype == 'text/html' and display != 'raw' %}
        <iframe style="height: 100vh; width: 100%;" srcdoc='{{ ta.content }}'></iframe>
    {% elif ta.contenttype == 'application/pdf' %}
        <object type="application/pdf" style="height: 100vh; width: 100%" data="data:application/pdf;base64,{{ ta.content|safe }}">
        <iframe style="height: 100vh; width: 100%;" src="data:application/pdf;base64,{{ ta.content|safe }}">
            This browser does not support PDFs. Please download the PDF to view it:
            <a href="{% url 'bots:filer' %}/?action=downl&amp;idta={{ ta.idta }}">{% trans 'Download' %} PDF</a>
        </iframe>
        </object>
    {% else %}
        <pre>{{ ta.content }}</pre>
    {% endif %}
    <hr />
</div>{% endfor %}
</div>
{% endif %}
</body>
</html>
