{% extends "admin/base.html" %}
{% load i18n static %}

{% block title %}Bots {% if logname == 'engine' %}{{ logname }} {% endif %}log {{ log }}{% endblock %}

{% block extrahead %}{{ block.super }}
<meta Http-Equiv="Pragma" Content="no-cache" />
<style>
h2 .button {font-size: 13px;}
</style>
{% endblock %}

{% block content_title %}
<h1 class="ico-translate">Bots{% if logname %}-{{ logname }}{% endif %} <a href="{% url 'bots:logfiler' %}">logfiles</a></h1>
{% endblock %}

{% block content_subtitle %}
{% if log %}<h2><a href="#" title="{% trans 'Top' %}">{{ log }}</a>&nbsp;&nbsp;&nbsp;&nbsp;
{% if log == logname|add:".log" %}<button onclick="window.location.reload()" class="button ico-reload va-bottom pad4" title="{% trans 'Refresh' %}"></button>{% endif %}
<a class="button ico-save va-bottom" href="{% url 'bots:logfiler' %}?{{ logname }}={{ log }}&amp;action=download" title="{% trans 'Download' %} Bots-{{ logname }} {{ log }}">{% trans 'Download' %}</a>
&nbsp;{% if logname == 'engine' %}
<a class="button ico-reports" href="{% url 'bots:reports' %}?popup=1&idta={{ log }}" target="_blank">{% trans 'Report' %}</a>
<a class="button ico-incoming" href="{% url 'bots:incoming' %}?popup=1&reportidta={{ log }}" target="_blank">{% trans 'Incoming' %}</a>
<a class="button ico-outgoing" href="{% url 'bots:outgoing' %}?popup=1&reportidta={{ log }}" target="_blank">{% trans 'Outgoing' %}</a>
{% endif %}
{% include 'bots/button_back_close.html' with cssclass="va-bottom pad4" %}
</h2>{% endif %}
{% endblock %}

{% block content %}
{% if error_content %}{{ error_content }}{% else %}
<table id="log" border="1" cellpadding=5 style="border-collapse: collapse;">
  <tr>
    <td valign="top" class="nowrap">{% for file in logfiles %}
      {% if logname %}<a href="{% url 'bots:logfiler' %}?{{ logname }}={{ file }}">{{ file }}</a><br>
      {% else %}<a href="{% url 'bots:logfiler' %}?{{ file }}">{{ file }}</a><br>{% endif %}
    {% endfor %}</td>
    <td valign="top" colspan="2">
      <pre>{{ logdata }}</pre>
    </td>
  </tr>
</table>
{% endif %}
{% endblock %}
