{% load i18n static %}
<link rel="stylesheet" type="text/css" href="{% static "css/bots-nav.css" %}">
<nav id="bots-nav">
<ul>{% if not user.is_authenticated %}
    <li><a href="{% url 'login' %}">{% trans 'Log in' %}</a></li>
{% else %}
{% block user-nav %}
<li><a{% if not bots_touchscreen %} href="{% url 'bots:home' %}"{% endif %} class="ico-home">{% trans 'Home' %}</a>
    <ul>
        {% if bots_touchscreen %}<li><a href="{% url 'bots:home' %}" class="ico-home">{% trans 'Home' %}</a></li>{% endif %}
        <li><a href="https://bots.readthedocs.io/en/latest/guide-for-botsmonitor/">{% trans 'Help' %}</a></li>
        <li><a href="{% url 'password_change' %}" class="ico-key">{% trans 'Change password' %}</a></li>
        <li><a href="{% url 'logout' %}" class="ico-logout">{% trans 'Log out' %}</a></li>
    </ul>
</li>
{% endblock %}
{% block bots-nav %}
{% include 'bots/nav/index.html' %}
{% endblock %}
{% endif %}
</ul>
</nav>
