{% if form.refresh and not form.refresh.is_hidden %}{% load i18n %}
{{ form.refresh }}<button class="button ico-reload pad6" title="{% trans 'Refresh' %}"></button>
<span class="now">{% now "D d M Y" %} &nbsp;{% now "H:i" %}</span>{% endif %}
