<div class="errortext" id="err{{ row.idta }}">
{% if truncaterr %}{{ row.errortext|truncatechars:2048|linebreaks }}{% else %}{{ row.errortext|linebreaks }}{% endif %}
</div>
<script>
(function() {
    document.getElementById("tr{{ row.idta }}").style.height = (document.getElementById("tr{{ row.idta }}").clientHeight + document.getElementById("err{{ row.idta }}").clientHeight) + "px";
})();
</script>
