{% load i18n %}<div class="paginatop">
{{ form.selection }}{% if form.selection.value %} <button name="deleteselection" class="botsheader middle ico-trash" title="{% trans 'Delete selection' %}: {{ form.selection.value }}" value="{{ form.selection.value }}" style="font-size: 1.4em;" onclick="return confirm('{% trans 'Confirm delete filter' %} \'{{ form.selection.value }}\' ?');"></button>{% endif %}
{{ form.selection_name }} <button name="saveselection" class="button ico-save pad6" title="{% trans 'Save selection' %}">{% trans 'Save' %}</button>
<button class="button ico-no" type="button" onclick="var s=document.getElementById('id_selection');s.selectedIndex=0;s.onchange();" title="{% trans 'Clear all filters' %}"></button>
<button name="fromselect" class="button ico-view">{% trans 'Show selection' %}</button>
<br />
{{ form.selection.errors }}{{ form.selection_name.errors }}
</div>
