{% load i18n %}{% if form.selection and not form.selection.is_hidden %}{{ form.selection }} <button class="button pad4" name="2select">{% trans 'Change selection' %}</button><button class="button ico-no pad4" type="button" onclick="var s=document.getElementById('id_selection');s.selectedIndex=0;s.onchange();" title="{% trans 'Clear all filters' %}"></button>{% endif %}{% include "bots/refresh.html" %}
{{ form.selection.errors }}
