{% extends "admin/base.html" %}
{% load i18n static %}

{% block extrahead %}{{ block.super }}
{% include "bots/js/timepicker.html" %}
<style type="text/css">
th, td {
  padding: 4px;
}
</style>
{% endblock %}

{% block content_title %}<h1 class="ico-search">{{ form.title }}</h1>{% endblock %}

{% block content %}
<form action="{{ form.action }}" id="selectform" method="post">{% csrf_token %}
    {% include 'bots/selection.html' %}
    <h3>{% trans 'Parameters' %}:</h3>
    <table>{% for field in form %}
      {% if field.is_hidden %}{{ field }}{% if field.errors %}{{ field.name }}: {{ field.errors }}{% endif %}{% elif field.name == 'selection' %}{% elif field.name == 'selection_name' %}{% else %}
	<tr{% if field.value %} class="filteredfield"{% endif %}><th class="middle"><label class="ico-{{ field.name }}" for="{{ field.id_for_label }}">{{ field.label }}</label></th><td class="middle">{% if field.value %}{% include 'bots/botstable/clear_field.html' with submit=False %}{% endif %}</td><td>{{ field }}{{ field.errors }}</td></tr>{% endif %}
    {% endfor %}</table>
    <br />
    <br />
    <button name="permlink" class="button ico-link pad6">{% trans 'Permanent link' %}</button>
    <button name="fromselect" class="button ico-view">{% trans 'Show selection' %}</button>
    <br />
    <br />
</form>
{% endblock %}
