<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load i18n static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Bots Source: {{ src }}</title>
<META Http-Equiv="Pragma" Content="no-cache" />
<link rel="icon" type="image/png" href="{% static "images/bots.ico" %}">
<link rel="stylesheet" type="text/css" href="{% static "admin/css/base.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/bots.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/bots-icons.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/bots-srcfiler.css" %}">
</head>
<body>
{% if error_content %}{{ error_content }}{% else %}
<div id="content">
<h1 class="ico-translate">{{ src }} {% include "bots/button_close_right.html" with is_popup=True %}</h1>
<pre>{{ html_source|safe }}</pre>
<hr/>
</div>
{% endif %}
</body>
</html>
