{% if user.is_superuser %}{% load i18n %}
<li><a class="ico-admin" href="{% url 'admin:index' %}">{% trans 'SysTasks' %}</a>
<ul>
    <li><a class="ico-plugin">{% trans 'Plugins' %}</a>
    <ul>
        <li><a href="{% url 'bots:plugin' %}" class="ico-read">{% trans 'Read plugin' %}</a></li>
        <li><a href="{% url 'bots:plugout' %}" class="ico-save">{% trans 'Make plugin' %}</a></li>
        <li><a href="{% url 'bots:plugout' %}/backup" class="ico-plugin">{% trans 'Make backup plugin' %}</a></li>
    </ul>
    </li>
    <li><hr/></li>
    <li><a class="ico-config">{% trans 'Configuration' %}</a>
    <ul>
        <li><a href="{% url 'bots:plugin' %}/index" class="ico-read">{% trans 'Read configuration index' %}</a></li>
        <li><a href="{% url 'bots:plugout' %}/index" class="ico-write">{% trans 'Make configuration index' %}</a></li>
        <li><hr/></li>
        <li><a href="{% url 'bots:delete' %}" class="ico-del">{% trans 'Bulk delete' %}</a></li>
    </ul>
    </li>
    <li><hr/></li>
    {% include 'bots/nav/admin_auth.html' %}
    <li><hr/></li>
    <li><a href="{% url 'admin:bots_uniek_changelist' %}" class="ico-uniek">{% trans 'View/edit counters' %}</a></li>
    <li><a href="{% url 'bots:sendtestmail' %}" class="ico-sendmail">{% trans 'Send test report' %}</a></li>
    <li><hr/></li>
    <li><a href="{% url 'bots:logfiler' %}" target="_blank" class="ico-logs">{% trans 'View logfiles' %}</a>
    <ul>
        <li><a href="{% url 'bots:logfiler' %}/?engine" target="_blank">{% trans 'View engine logs' %}</a></li>
        <li><a href="{% url 'bots:logfiler' %}/?dirmonitor" target="_blank">{% trans 'View dirmonitor logs' %}</a></li>
        <li><a href="{% url 'bots:logfiler' %}/?jobqueue" target="_blank">{% trans 'View jobqueue logs' %}</a></li>
        {% if 'Cheroot' in request.META.SERVER_SOFTWARE %}
        <li><a href="{% url 'bots:logfiler' %}/?webserver" target="_blank">{% trans 'View webserver logs' %}</a></li>
        {% endif %}
    </ul>
    </li>
</ul>
</li>
{% endif %}
