:root {
  --primary: #407b9b;
  --secondary: #417690;
  --header-bg: #fff;
  --header-link-color: #fff;
  --header-hover-bg: rgba(0,0,0, 0.6);
  --body-quiet-color: #333;
  --button-bg: #103f56;
  --button-hover-bg: #376c87;
  --filteredfield-bg: rgba(60,60,60,0.32);
  --filteredfield-fg: #000;
  --filteredfield-hover-bg: rgba(60,60,60,0.9);
  --filteredfield-hover-fg: #fff;
  --filteredth-bg: rgb(224 224 224 / 44%);
  --filteredth-fg: var(--selected-fg);
/*
  --filteredth-bg: var(--selected-bg);
*/
}
@media (prefers-color-scheme: dark) {
  :root {
    --header-bg: var(--body-bg);
    --header-hover-bg: rgba(225,255,255, 0.9);
    --body-quiet-color: inherit;
    --breadcrumbs-bg: var(--darkened-bg);
    --header-link-color: var(--primary-fg);
    --filteredfield-bg: rgba(180,180,180,0.6);
    --filteredfield-fg: #000;
    --filteredfield-hover-bg: rgba(255,255,255,0.8);
    --filteredfield-hover-fg: #000;
  }
  .botsstatus4,
  .botstrstatus4 {
    color: #000;
  }
  div#logo {
      filter: invert(100%) sepia(0%) saturate(100%) hue-rotate(106deg) brightness(100%) contrast(100%);
  }
}

div#logo {
    position: absolute;
    left: 0;
    width: 49em;
    height: 3.7em;
    top: 0em;
    z-index: 100;
}
div#logo img {
    position: absolute;
    left: 0%;
    width: 100%;
    top: 0%;
    height: 100%;
}
div#environment {
    position: absolute;
    left: 52em;
    top: 1em;
    height: 2em;
}
div#environment>div {
    font-size: 2em;
    font-weight: bold;
}
div#header {
    height: 30px !important;
    line-height: 25px !important;
    padding: 10px 10px;
    background: var(--header-bg);
    color: var(--header-fg);
}
#user-tools,
#user-tools a:link,
#user-tools a:visited {
    color: var(--body-fg);
}
#user-tools a {
    border-bottom: 1px solid rgb(0 0 0 / 25%);
}
#changelist #toolbar {
    margin-bottom: 0;
}
div#content {
    margin: 0;
    padding: 10px;
}
table#about {
    position: relative;
    left: 10%;
}
div.breadcrumbs {
    padding-top: 1.8em;
    padding-bottom: 0;
    padding-left: 10px;
}
div#content h1 {
    margin: 0 0 10px !important;
    font-weight: 200;
    font-size: 22px;
    color: var(--body-quiet-color);
}

/***********************************************************************/
/**ACTION**************************************************************/
.fielddown {
    width: 100%;
}
.tainfo,
.fielddown,
.dropdown {
    position: relative;
    float: left;
    border-radius: 4px;
}
.dropdown {
    padding: 4px 0 4px 0;
/*  width: 100%; */
}
.dropdown ul a,
.dropdown button {
    display: block;
    padding: 5px;
    width: 100%;
    text-align: left;
    border-style: none;
    margin: 0em;
    cursor: pointer;
    white-space: nowrap;
    color: var(--body-fg);
    background: none;
    transition: none;
    line-height: normal;
    text-decoration: none;
}
.dropdown ul {
    list-style-type: none;
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    left: 100%;
    visibility: hidden;
    background: var(--darkened-bg);
    border: 1px solid var(--body-fg);
}
.dropdown ul ul {
    display: none;
    top: -1px;
}
.dropdown ul li:hover > ul {
    display: inherit;
}
.fielddown:hover ul,
.dropdown:hover ul {
    visibility: visible;
    z-index: 598;
}
.fielddown ul li,
.dropdown ul li {
    position: relative;
    list-style: none;
    padding: 0;
}
td.phase:hover,
.dropdown:hover,
.dropdown:hover > a,
.dropdown:hover > span,
.dropdown ul li:hover {
    background-color: var(--button-hover-bg) !important;
}
.dropdown:hover,
.dropdown:hover > a,
.dropdown:hover > span,
.dropdown ul li:hover > a,
.dropdown ul li:hover > button,
.dropdown ul li:hover {
    color: var(--button-fg) !important;
}
.fielddown ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    visibility: hidden;
    background: var(--darkened-bg);
    top: 100%;
    left: 0;
}
.dropdown ul a:before,
.dropdown ul button:before {
    padding-right: .8em;
}
/***********************************************************************/
/**INFO**************************************************************/
.tainfo table {
    position: absolute;
    visibility: hidden;
    background: var(--darkened-bg);
    white-space: nowrap;
}
td.phase:hover table,
.tainfo:hover table {
    visibility: visible;
    z-index: 599;
}
div.dropright {
    position: relative;
    float: right;
}
div.dropright table {
    left: 99%;
    top: 1px;
}
.tainfo table,
div.dropright table {
    color: var(--body-fg);
    border: 1px solid var(--body-fg);
}
.paginatop {
     margin-top: -.5em;
     margin-bottom: 0.1em;
}

/* Sticky elements */
div#content h1,
.sticky-title,
.sticky1 {
    position: sticky;
    top: 0;
    background: var(--body-bg);
    z-index: 11;
}
.paginatop,
.sticky2 {
    position: sticky;
    top: 2.2em;
    background: var(--body-bg);
    z-index: 10;
}
.object-tools,
.action-top {
    position: sticky;
    top: .5em;
    z-index: 11;
}
.inline-block.action-top {
    float: right;
}
/*
#changelist-filter {
    position: sticky !important;
    top: 2.5em;
    right: 1em;
}
*/
/* Admin change_form submit line */
/*
table#result_list thead tr:first-child th,
*/
div#content h1 + h2,
.change-form div#content h1 + h2 {
    position: sticky;
    top: 1.55em;
    background: var(--body-bg);
    z-index: 10;
}
.change-form .submit-row {
    position: sticky;
    top: 2.6em;
    z-index: 9;
}
table#botstable thead tr:first-child th {
    position: sticky;
    top: 5.6em;
    z-index: 11;
}
table#botstable thead tr:nth-child(2) th {
    position: sticky;
    top: 8em;
    z-index: 10;
    background: transparent;
}
table#botstable.detail thead th {
    top: 2em !important;
}

/*
#action-bar {
    position: sticky;
    top: 3.8em;
    background: var(--body-bg);
    z-index: 10;
}
table#botstable thead tr:first-child th {
    top: 8em;
}
table#botstable thead tr:nth-child(2) th {
    top: 10.2em;
}
#action-bar button,
#action-bar input {
    padding-top: 6px;
    padding-bottom: 6px;
}
*/
/* End sticky elems part */

/***********************************************************************/
/**other ***************************************************************/
.botsheader {
    border-style: none;
    margin: 0em;
    padding: 0em;
    cursor: pointer;
    white-space: nowrap;
    color: var(--body-fg);
    background: transparent;
    border-radius: 4px;
    font-weight: bold;
}
.botsheader:hover {
    background-color: var(--header-hover-bg);
    color: var(--body-bg);
}
p.botsheader2 {
    border-style: none;
    margin: 0em;
    padding: 0em;
    white-space: nowrap;
    color: var(--body-fg);
    font-weight: normal;
    background: var(--body-bg);
}
a.botslink {
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
/*
    color: var(--link-fg);
*/
}
a.botslink:hover {
    background-color: rgba(0,0,0,0.6);
    color: #fff;
}
table#botstable {
    border-collapse: collapse;
    border-width: 0;
}
table#botstable thead th {
    text-transform: initial;
    padding: 5px 5px;
    white-space: nowrap;
}
table#botstable td {
    padding: 2px;
    vertical-align: middle;
    white-space: nowrap;
}

.tainfo th {
    padding: 4px;
}
.tainfo td {
    padding: 3px;
}
.td-ts {
    padding-left: 1em !important;
}
img.action {
    width: 1em;
}
.row1 {
    background: var(--body-bg);
}
.row2 {
    background: var(--darkened-bg);
}

/*
td[name="filename"] .dropdown,
td[name="infilename"] .dropdown,
td[name="outfilename"] .dropdown {
    width: 100%;
}
*/

/*nicer layout for sort boxes in admin for django1.4*/
table thead th .text span {
    padding: 15px 5px 2px 5px;
    display: block;
}
table thead th .text a {
    display: block;
    cursor: pointer;
    padding: 15px 5px 2px 5px;
}

/* ***** input, button, a, **** */
table .button {
    display: inline;
}
table#botstable.detail .button,
.tainfo .button,
.button {
    display: inline-block;
}
h1 a:focus,
a.button {
    text-decoration: none;
}
h1 button {
    vertical-align: top;
}

.button,
input[type=submit],
input[type=button],
.submit-row input,
a.button {
    margin: 1px !important;
}

.button,
button.button,
input[type=submit],
input[type=button],
.submit-row input {
    padding: 8px 14px;
}

.login .button,
.login input[type=submit],
.login input[type=button] {
    padding: 10px 15px;
}

table button.button,
a.button {
    padding: 4px 5px;
}
#botstable .reports a.button {
    padding: 2px 3px;
}
#botstable .documents .dropdown,
#botstable .reports .dropdown {
    padding: 2px 0 2px 0;
}
#botstable .process td {
    vertical-align: top;
}
#botstable .process td.botsstatus1 {
    padding-top: 6px;
}

.reporterrs {
    padding: 0;
    margin: 0;
}
.reporterrs li {
    list-style: none;
    line-height: inherit;
}
.reporterrs a.button {
    padding: 0px 3px !important;
}

/* Filtered fields */
div.fielddown:hover,
.sortedby {
    background: var(--selected-bg);
}
span.filteredfield,
td.filteredfield,
th.filteredfield {
    background: var(--filteredth-bg) !important;
    color: var(--filteredth-fg);
}
button.filteredfield,
input.filteredfield {
    font-size: 12px;
    padding: 6px;
}
/*
tr.filteredfield button:hover,
*/
div.filteredfield button:hover {
    background-color: var(--header-hover-bg);
}
div.filteredfield,
tr.filteredfield,
button.filteredfield,
input.filteredfield {
    background-color: var(--filteredfield-bg) !important;
    color: var(--filteredfield-fg) !important;
}
button.filteredfield:hover,
input.filteredfield:hover {
    background-color: var(--filteredfield-hover-bg) !important;
    color: var(--filteredfield-hover-fg) !important;
}
.after:after {
    content: attr(after);
    padding-left: 0.1em;
}
#id_allstatus,
#id_lastrun,
#id_popup,
#id_admlink {
    display: none;
}
#selectform #id_allstatus,
#selectform #id_lastrun,
#selectform #id_popup,
#selectform #id_admlink {
    display: inherit;
}

#id_allstatus + label,
#id_lastrun + label,
#id_popup + label,
#id_admlink + label {
    border-radius: 6px;
    border: 1px solid var(--body-fg);
    background-color: var(--button-bg);
}
#id_allstatus + label:hover,
#id_lastrun + label:hover,
#id_popup + label:hover,
#id_admlink + label:hover {
    box-shadow: -1px 2px 30px rgba(240, 240, 240, 0.6) inset;
}
#id_allstatus:checked + label,
#id_lastrun:checked + label,
#id_popup:checked + label,
#id_admlink:checked + label {
    background-color: var(--secondary);
}

.reports input[name="sel"] {
    display: none;
}
.reports input[name="sel"] + label {
    cursor: pointer;
}
.reports input[name="sel"]:checked + label {
    filter: invert(100%) sepia(0%) saturate(100%) hue-rotate(0deg) brightness(0%) contrast(100%);
}

.pad0 {padding: 0px !important;}
.pad1 {padding: 1px !important;}
.pad2 {padding: 2px !important;}
.pad3 {padding: 3px !important;}
.pad4 {padding: 5px !important;}
.pad5 {padding: 5px !important;}
.pad6 {padding: 6px !important;}
.pad7 {padding: 7px !important;}
.pad8 {padding: 8px !important;}
.pad9 {padding: 9px !important;}
.pad10 {padding: 10px !important;}
/************** Icons *********************/
.icon,
.delete_icon {
    width: 20px;
    vertical-align: middle;
}
.va-top {
    vertical-align: top !important;
}
.middle,
.va-middle {
    vertical-align: middle;
}
.va-bottom {
    vertical-align: bottom;
}
.center {
    text-align: center;
}
.block {
    display: block;
}
.inline-block {
    display: inline-block;
}
.nowrap    {
    white-space: nowrap;
}
.nobg {
    background-color: #fff6 !important;
    color: var(--body-fg) !important;
}
.now {
    font-size: 14px;
}
.float-right {
    float: right;
}
/************** Status *********************/
/*** File report Status 0:Open, 1:Error, 2:Stuck, 3:Done, 4:Resend ****/
.botsstatus0,
.botsstatus1,
.botsstatus2,
.botsstatus3 {
    color: #fff;
}
.botsstatus0,
.botstrstatus0 {
    background: #b7b7b7 !important;
}
/* 1: Error */
.botsstatus1,
.botstrstatus1 {
    background: #8e2727 !important;
}
.botstrstatus1 {
    color: black;
}
.botsstatus2,
.botstrstatus2 {
    background: #8e8a85 !important;
}
.botsstatus3 {
    background: #379e37 !important;
}
.botsstatus4,
.botstrstatus4 {
    background: #fcff44 !important;
}
.botsstatus5,
.botstrstatus5 {
    background: #8e8e8e !important;
}
.errortext {
    position: absolute;
    white-space: pre-wrap;
}

/* Django admin */
/***********************************************************************/
/**FILTER***************************************************************/
.change-list .filtered .results, .change-list .filtered .paginator,
.filtered #toolbar, .filtered div.xfull {
    margin-right: 0;
    width: auto;
}
div#changelist-filter h3,
div#changelist-filter ul {
    display: none;
}
div#changelist-filter:hover h3,
div#changelist-filter:hover ul {
    display: block;
}
.object-tools {
    margin-top: -38px;
}
fieldset.collapsed h2 {
    background: var(--primary);
    color: var(--header-link-color);
}
fieldset.collapsed .collapse-toggle {
    color: var(--accent);
}
