/** Bots Icons 
 *  Copyright (C) 2021-2022 © Ludovic WATTEAUX
**/

/* Bitmaps & svg Icons */
:root {
  --icon-bots: url("../images/bots.ico");
  --icon-alert: url("../admin/img/icon-alert.svg");
  --icon-yes: url("../admin/img/icon-yes.svg");
  --icon-no: url("../admin/img/icon-no.svg");
  --icon-addlink: url("../admin/img/icon-addlink.svg");
  --icon-changelink: url("../admin/img/icon-changelink.svg");
  --icon-deletelink: url("../admin/img/icon-deletelink.svg");
  --icon-viewlink: url("../admin/img/icon-viewlink.svg");
  --inline-delete: url("../admin/img/inline-delete.svg");
  --icon-pass: url("../images/icon-pass.gif");
  --icon-pass-parse: url("../images/icon-pass_parse.gif");
  --icon-star: url("../images/star.png");
  /* UTF-8 Icons */
  --padding-ico: 0 .3em 0 .1em;
  --weight-ico: bold;
  --ico-add: '+';
  --ico-yes: '\2714'; /* ✔ */
  --ico-no: '\1F6C7'; /* 🛇' */
  --ico-noentry: '\26D4'; /* ⛔*/
  --ico-incoming: '\2B8B'; /* ⮋ */
  --ico-outgoing: '\2B89'; /* ⮉ */
  --ico-in: '\21A7'; /* ↧ */
  --ico-out: '\21A5'; /* ↥ */
  --ico-doc: '\1F5CE'; /* 🗎 */
  --ico-docs: var(--ico-doc);
  --ico-file: '\1F5CF'; /* 🗏 */
  --ico-partner: '\1F574'; /* 🕴 */
  --ico-pending: '\23F3'; /* ⏳ */
  --ico-date: '\1F5D3'; /* 🗓 */
  --ico-time: '\1F557'; /* 🕗 */
  --ico-eye: '\1F441'; /* 👁 */
  --ico-zip: '\1F5DC'; /* 🗜 */
  --ico-sorted: '\25BC'; /* ▼ */
  --ico-sortedasc: '\25B2'; /* ▲ */
  --ico-key: '\26BF'; /* ⚿ */
  --ico-stopwatch: '\23F1'; /* ⏱ */
  --ico-label: '\1F3F7'; /* 🏷 */
  --ico-inorout: '\2B81';  /* ⮁ */
  --ico-config: '\1F6E0'; /* 🛠 */
  --ico-routes: '\26D5'; /* ⛕ */
  --ico-gear: '\2699'; /* ⚙ */
  --ico-admin: var(--ico-gear);
  --ico-login: '\2386'; /* ⎆ */
  --ico-logout: '\23FB'; /* ⏻ */
  --ico-warn: '\26A0'; /* ⚠ */
  --ico-confirmed: '\1F44D'; /* 👍 */
  --ico-unconfirmed: '\1F44E'; /* 👎 */
  --ico-reload: '\1F5D8'; /* 🗘 */
  --ico-star: '\1F7CA'; /* 🟊 */
  --ico-up: '\2B06'; /* ⬆ */
  --ico-down: '\2B07'; /* ⬇ */
  --ico-trash: '\1F5D1'; /* 🗑 */
  --ico-floppy: '\1F5AB'; /* 🖫 */
  --ico-save: var(--ico-floppy);
  --ico-rereceive: '\2B6F'; /* ⭯ */
  --ico-resend: '\2B6E'; /* ⭮ */
  --ico-flag: '\2691'; /* ⚑ */
  --ico-poweron: '\23FC'; /* ⏼ */
  --ico-run: var(--ico-poweron);
  --ico-log: '\1F5D2'; /* 🗒 */
  --ico-pager: '\1F4DF'; /* 📟 */
  --ico-search: '\1F50D'; /* 🔍 */
  --ico-book: '\1F56E'; /* 🕮  */
  --ico-write: '\1F589'; /* 🖉 */
  --ico-bell: '\1F56D'; /* 🕭 */
  --ico-ccode: '\1F588'; /* 🖈 */
  --ico-ccodetrigger: var(--ico-label);
  --ico-cross: '\2716'; /* ✖ */
  --ico-info: '\1F6C8'; /* 🛈 */
  --ico-wheelofdharma: '\2638'; /* ☸ */
/*
  --ico-incoming: '\2350'; /* ⍐ */
/*
  --ico-outgoing: '\2357'; /* ⍗ */
/*
  --ico-resend: '\21BB'; /* ↻ */
/*
  --ico-star: '\235F'; /* ⍟ */
/*
  --ico-docs: '\1F5D0'; /* 🗐 */
/*
  --ico-floppy: '\1F5AA'; /* 🖪 */
/*
  --ico-helm: '\2388'; /* ⎈ */
/*
  --ico-file: '🗎';
  --ico-doc: '🖹';
  --ico-calc: '🖩';
  --ico-inbox: '📥';
  --ico-outbox: '📤';
*/
}

.icon-statust0:before,
.icon-viewlink:before {
    background-image: var(--icon-viewlink);
}
.icon-translt0:before,
.icon-statust1:before,
.icon-err:before,
.icon-no:before {
    background-image: var(--icon-no);
}
.icon-statust2:before,
.icon-alert:before {
    background-image: var(--icon-alert);
}
.icon-translt1:before,
.icon-statust3:before,
.icon-yes:before {
    background-image: var(--icon-yes);
}
.icon-translt2:before,
.icon-statust4:before,
.icon-pass:before {
    background-image: var(--icon-pass);
}
.icon-translt3:before,
.icon-statust5:before,
.icon-pass-parse:before {
    background-image: var(--icon-pass-parse);
}
.icon-star:before {
    background-image: var(--icon-star);
}
.icon-add:before {
    background-image: var(--icon-addlink);
}
.icon-translt0:before,
.icon-translt1:before,
.icon-translt2:before,
.icon-translt3:before,
.icon-statust0:before,
.icon-statust1:before,
.icon-statust2:before,
.icon-statust3:before,
.icon-statust4:before,
.icon-statust5:before,
.icon-star:before,
.icon-alert:before,
.icon-no:before,
.icon-err:before,
.icon-add:before,
.icon-viewlink:before,
.icon-yes:before {
    content: '';
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
    padding: 10px;
}
h1.icon-err:before {
    background-size: 22px 22px;
}

button.filteredfield:hover:after,
.ico-del-ha:hover:after,
.bt-del,
.icon-delete:before,
.inline-delete:after {
    content: '';
    background-image: var(--inline-delete);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
    padding: 5px 8px 5px 8px;
    vertical-align: middle;
}

.ico-del-ha:hover:after,
button.filteredfield:hover:after {
    position: absolute;
    margin-left: 5px;
    margin-top: -2px;
    padding: 9px;
}

/* utf-8 Icons */
/*
button.filteredfield:hover:after {
    content: var(--ico-cross);
    position: absolute;
    line-height: 0;
    font-size: 160%;
    font-weight: bold;
    padding-left: 0.35em;
    padding-top: 8px;
    color: var(--filteredfield-hover-bg) !important;
}
*/
.sorted:before {
    content: var(--ico-sorted);
}
.sortedasc:before {
    content: var(--ico-sortedasc);
}

/*
.ico-home:before {
    content: '⌂';
    font-size: 140%;
}
*/
.ico-botsstatust0:before,
.ico-yes:before {
    content: var(--ico-yes);
    line-height: 0;
    padding: var(--padding-ico);
}
.ico-add:before {
    content: var(--ico-add);
    font-size: 130%;
}
.ico-admin:before {
    content: var(--ico-admin);
    font-size: 120%;
}
.model-translate .field-tscript label:before,
.field-fromeditype > a:before,
div.app-bots caption a:before,
tr.model-translate th a:before,
.label-tscript:before,
.ico-divtext:before,
.ico-tscript:before, 
.ico-translate:before,
.ico-bots:before,
.icon-bots:before {
    content: '';
    background-image: var(--icon-bots);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: left;
    line-height: 0;
    padding: 10px;
    padding-right: .7em;
}
.model-ccode .column-ccodeid .text a:before,
.model-ccode .results .field-ccodeid a:before,
tr.model-ccode th a:before,
.ico-ccode:before {
    content: var(--ico-ccode);
    font-size: 130%;
    line-height: 0;
    padding: var(--padding-ico);
}
.model-ccode .field-ccodeid label:before,
.model-ccodetrigger .column-ccodeid .text a:before,
.model-ccodetrigger .field-ccodeid a:before,
tr.model-ccodetrigger th a:before,
.ico-ccodetrigger:before {
    content: var(--ico-ccodetrigger);
    font-size: 130%;
    line-height: 0;
    padding-right: .2em;
}
.ico-inchannel:before,
.field-fromchannel .field-fromchannel label:before,
.column-fromchannel .text a:before,
.column-fromchannel_ .text a:before,
.label-fromchannel:before,
.ico-fromchannel:before {
    content: var(--ico-down);
    font-size: 120%;
    line-height: 0;
    padding-right: .2em;
}
.ico-outchannel:before,
.field-tochannel label:before,
.column-tochannel .text a:before,
.column-tochannel_ .text a:before,
.label-tochannel:before,
.ico-tochannel:before {
    content: var(--ico-up);
    font-size: 120%;
    line-height: 0;
    padding-right: .2em;
}
.model-confirmrule .field-idchannel label:before,
.column-idchannel .text a:before,
tr.model-channel th a:before,
.ico-channel:before {
    content: var(--ico-inorout);
    font-size: 150%;
    line-height: 0;
    padding: var(--padding-ico);
}
.label-inorout:before,
.field-inorout .field-inorout label:before,
.column-inorout_ .text a:before,
.column-inorout .text a:before {
    content: var(--ico-inorout);
    font-size: 100%;
    line-height: 0;
    padding: var(--padding-ico);
}
.ico-cleanup:before {
    content: '\267B'; /* ♻ */
    font-size: 140%;
}
.ico-close:before {
    content: var(--ico-cross);
}
.ico-config:before {
    content: var(--ico-config);
}
tr.model-confirmrule th a:before,
.ico-confirmedTrue:before,
.ico-confirmed:before,
.ico-confirmed1:before,
.ico-confirmrule:before,
.ico-confirm:before {
    content: var(--ico-confirmed);
    line-height: 0;
    padding-right: .4em;
}
.ico-confirmedFalse:before,
.ico-confirmed0:before,
.ico-unconfirmed:before {
    content: var(--ico-unconfirmed);
    line-height: 0;
    padding-right: .4em;
}
.field-domein > a:before,
.field-domein label:before,
tr.model-uniek th a:before,
.ico-uniek:before {
    content: var(--ico-pager);
    line-height: 0;
    padding: var(--padding-ico);
}
.ico-del:before {
    content: var(--ico-cross);
}
.ico-doc:before {
    content: var(--ico-doc);
}
.ico-docs:before {
    content: var(--ico-docs);
}
.ico-doc320:before,
.ico-docin:before {
    content: var(--ico-doc) var(--ico-in);
    line-height: 0;
    padding: var(--padding-ico);
}
.ico-docs320:before,
.ico-docsin:before {
    content: var(--ico-docs) var(--ico-in);
    line-height: 0;
    padding: var(--padding-ico);
}
.ico-doc330:before,
.ico-docout:before {
    content: var(--ico-doc) var(--ico-out);
    line-height: 0;
    padding: var(--padding-ico);
}
.ico-docs330:before,
.ico-docsout:before {
    content: var(--ico-docs) var(--ico-out);
    line-height: 0;
    padding: var(--padding-ico);
}
.ico-botsstatust1:before,
.ico-errortext:before,
.ico-err:before,
.ico-warn:before {
    content: var(--ico-warn);
    line-height: 0;
    padding: var(--padding-ico);
    font-size: 120%;
}
.ico-infilename:before,
.ico-infile:before {
    content: var(--ico-file) var(--ico-in);
    line-height: 0;
    padding: var(--padding-ico);
}
.ico-outfilename:before,
.ico-outfile:before {
    content: var(--ico-file) var(--ico-out);
    line-height: 0;
    padding: var(--padding-ico);
}
.ico-filename:before,
.ico-file:before {
    content: var(--ico-file);
    line-height: 0;
    padding: var(--padding-ico);
}
.ico-flag:before {
    content: var(--ico-flag);
}
.ico-privatekey:before,
.ico-key:before {
    content: var(--ico-key);
    font-size: 140%;
    vertical-align: middle;
    line-height: 0;
    padding: var(--padding-ico);
}
.ico-logout:before {
    content: var(--ico-logout);
}
.ico-log:before,
.ico-logs:before {
    content: var(--ico-log);
    font-size: 120%;
}
.ico-no:before {
    content: var(--ico-no);
}
.ico-incoming:before {
    content: var(--ico-incoming);
    line-height: 0;
    padding: var(--padding-ico);
    padding-right: .2em;
    font-size: 150%;
}
.ico-outgoing:before {
    content: var(--ico-outgoing);
    line-height: 0;
    padding: var(--padding-ico);
    padding-right: .2em;
    font-size: 150%;
}
.ico-in:before {
    content: var(--ico-in);
}
.ico-out:before {
    content: var(--ico-out);
}
.ico-link:before,
.ico-paperlinks:before {
    content: '\1F587'; /* 🖇 */
}

.ico-add-partner:before {
    content: var(--ico-partner) var(--ico-add);
    line-height: 0;
    padding: var(--padding-ico);
}

.field-frompartner label:before,
.column-frompartner .text a:before,
.column-frompartner_ .text a:before,
.label-frompartner:before,
.ico-frompartner:before {
    content: var(--ico-partner) var(--ico-in);
    line-height: 0;
    padding: var(--padding-ico);
}
.field-topartner label:before,
.column-topartner .text a:before,
.column-topartner_ .text a:before,
.label-topartner:before,
.ico-topartner:before {
    content: var(--ico-partner) var(--ico-out);
    line-height: 0;
    padding: var(--padding-ico);
}
.field-idpartner > a:before,
.field-idpartner .field-idpartner label:before,
.model-partner .column-idpartner .text a:before,
tr.model-partner th a:before,
.ico-partner:before {
    content: var(--ico-partner);
    line-height: 0;
    padding: var(--padding-ico);
}
.model-partnergroep .column-idpartner .text a:before,
.model-partnergroep .field-idpartner > a:before,
.model-partnergroep.change-form .field-idpartner label:before,
tr.model-partnergroep th a:before,
.ico-partnergroep:before {
    content: var(--ico-partner) var(--ico-partner);
    line-height: 0;
    padding: var(--padding-ico);
}
.ico-pending:before {
    content: var(--ico-pending);
    line-height: 0;
    padding: var(--padding-ico);
    vertical-align: middle;
    font-size: 115%;
}
.ico-plugout:before,
.ico-plugin:before {
    content: '\26C1'; /* ⛁ */
}
.ico-read:before {
    content: var(--ico-book);
}
.ico-reports:before {
    content: var(--ico-time);
}
.ico-reload:before {
    content: var(--ico-reload);
}
.ico-rereceive:before {
    content: var(--ico-rereceive);
}
.ico-resend:before {
    content: var(--ico-resend);
}
.model-confirmrule .field-idroute label:before,
.field-idroute > a:before,
.field-idroute .field-idroute label:before,
.column-idroute .text a:before,
tr.model-routes th a:before,
.label-idroute:before,
.ico-idroute:before,
.ico-route:before,
.ico-routes:before {
    content: var(--ico-routes);
    font-size: 130%;
    line-height: 0;
    padding: var(--padding-ico);
    vertical-align: middle;
}
.ico-run:before {
    content: var(--ico-run);
    font-size: 120%;
}
.ico-save:before {
    content: var(--ico-save);
}
.ico-search:before {
    content: var(--ico-search);
}
.ico-sendmail:before {
    content: '\1F585'; /* 🖅 */
}
.ico-star:before {
    content: var(--ico-star);
    vertical-align: middle;
    font-size: 180%;
    color: var(--close-button-bg);
}
.ico-trash:before {
    content: var(--ico-trash);
}
.ico-datefrom:before {
    content: var(--ico-date) var(--ico-time) var(--ico-sorted);
    line-height: 0;
    padding: var(--padding-ico);
}
.ico-dateuntil:before {
    content: var(--ico-date) var(--ico-time) var(--ico-sortedasc);
    line-height: 0;
    padding: var(--padding-ico);
}
.ico-ts:before {
    content: var(--ico-date) var(--ico-time);
    line-height: 0;
    padding: var(--padding-ico);
}
.ico-date:before {
    content: var(--ico-date);
}
.ico-time:before {
    content: var(--ico-time);
}
.label-dirmonitor:before,
.model-routes .column-dirmonitor_ .text a:before,
.field-dirmonitor label:before,
.ico-view:before {
    content: var(--ico-eye);
    line-height: 0;
    padding: var(--padding-ico);
}
.ico-write:before {
    content: var(--ico-write);
}
.field-zip_incoming label:before,
.column-zip_incoming .text a:before {
    content: var(--ico-zip) var(--ico-in);
    line-height: 0;
    padding: var(--padding-ico);
}
.column-zip_outgoing .text a:before,
.field-zip_outgoing label:before {
    content: var(--ico-zip) var(--ico-out);
    line-height: 0;
    padding: var(--padding-ico);
}
.ico-zip:before {
    content: var(--ico-zip);
    line-height: 0;
    padding: var(--padding-ico);
}

.sorted:before,
.sortedasc:before,
.ico-add:before,
.ico-admin:before,
.ico-channel:before,
.ico-cleanup:before,
.ico-close:before,
.ico-config:before,
.ico-date:before,
.ico-del:before,
.ico-doc:before,
.ico-docs:before,
.ico-flag:before,
.ico-home:before,
.ico-in:before,
.ico-link:before,
.ico-log:before,
.ico-logs:before,
.ico-logout:before,
.ico-no:before,
.ico-out:before,
.ico-plugin:before,
.ico-plugout:before,
.ico-read:before,
.ico-reload:before,
.ico-reports:before,
.ico-run:before,
.ico-rereceive:before,
.ico-resend:before,
.ico-save:before,
.ico-search:before,
.ico-star:before,
.ico-sendmail:before,
.ico-time:before,
.ico-trash:before,
.ico-write:before {
    line-height: 0;
    padding: var(--padding-ico);
/*
    font-weight: var(--weight-ico);
*/
}

.field-fromeditype > a:before {
    padding-right: 1em;
}

.label-fromchannel:before,
.label-tochannel:before {
    padding-right: .1em;
}

.ico-140:before {
    font-size: 140%;
}
.ico-150:before {
    font-size: 150%;
}


/* Bots admin change_list and change_form */
.icon-bots:before,
div.app-bots caption a:before,
h1.ico-translate:before {
    background-size: 26px 26px;
    padding-top: 12px;
    padding-left: 0;
    padding-right: 32px;
    line-height: inherit;
}

/* Bots admin app_index */
div.app-bots tr th a {
    padding-left: 2em;
}
div.app-bots tr th a:before {
    position: absolute;
    line-height: inherit;
}
div.app-bots tr.model-ccode th a:before,
div.app-bots tr.model-ccodetrigger th a:before {
    margin-left: -1.65em;
}
div.app-bots tr.model-channel th a:before {
    margin-left: -1.4em;
}
div.app-bots tr.model-confirmrule th a:before {
    margin-left: -1.8em;
}
div.app-bots tr.model-partner th a:before {
    margin-left: -1.8em;
}
div.app-bots tr.model-partnergroep th a:before {
    margin-left: -2.0em;
}
div.app-bots tr.model-routes th a:before {
    margin-left: -1.6em;
}
div.app-bots tr.model-translate th a:before {
    margin-left: -2em;
    margin-top: -2px;
}
div.app-bots tr.model-uniek th a:before {
    margin-left: -2.0em;
}
