/* Bots filer css */
#container {
  height: unset;
}
.content {
  height: -webkit-fill-available;
}
th, td {
  padding: 6px;
  font-size: 13px;
  line-height: 13px;
  vertical-align: middle;
}
.tainfo {
  position: absolute !important;
  padding-top: 9px;
}
pre {
  color: var(--body-fg);
  font-size: 14px;
  margin: 4px;
}
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--body-bg);
}
.padnav {
   padding-left: 15px !important;
   padding-right: 15px !important;
}
