/* Bots srcfiler css */
.linenum {color: lightgray;}
.defname {color: black;}
.definition {color: blue; font-weight: bold;}
.keyword {color: blue;}
.string {color: magenta;}
.builtin {color: olive;}
.operator {color: brown;}
.comment {color: forestgreen;}
.docstring {color: forestgreen; font-style: italic;}
